.cart-info {
  margin-top: 50px;
  width: 35%;
  position: fixed;
  top: 0;
  right: 0;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.empty-cart img {
  height: 170px;
  width: auto;
  margin-top: 2em;
}
.empty-cart h1 {
  font-size: 22px;
  margin-top: -30px;
  margin-bottom: 0px;
}
.empty-cart p {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  color: rgba(206, 206, 206, 1);
}
